apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx
  namespace: nginx
data:
  default.conf: |
    server {
      listen 8080;
      server_name _;

      location / {
        root /usr/share/nginx/html;
        index index.html index.htm;
      }

      location = /nginx_status {
        stub_status;
        allow 127.0.0.1;
        allow ::1;
        deny all;
      }
    }