apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  namespace: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:1.27-alpine
        ports:
        - containerPort: 8080
        volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/conf.d/default.conf
          subPath: default.conf
      - name: nginx-prometheus-exporter
        image: nginx/nginx-prometheus-exporter:1.4.2
        args:
        - "--nginx.scrape-uri=http://127.0.0.1:8080/nginx_status"
        ports:
        - name: metrics
          containerPort: 9113
      volumes:
      - name: nginx-config
        configMap:
          name: nginx