apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nginx
  namespace: nginx
  annotations:
    traefik.ingress.kubernetes.io/router.middlewares: nginx-strip-nginx-prefix@kubernetescrd
spec:
  ingressClassName: traefik
  rules:
  - host: 172.22.142.254.nip.io
    http:
      paths:
      - path: /nginx
        pathType: Prefix
        backend:
          service:
            name: nginx
            port:
              number: 80