apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: nginx
  namespace: nginx
  labels:
    app: nginx
    release: kube-prometheus-stack
spec:
  endpoints:
  - port: metrics
  namespaceSelector:
    matchNames:
    - nginx
  selector:
    matchLabels:
      app: nginx