apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx
  namespace: argo
spec:
  project: default
  source:
    repoURL: https://github.com/kubernetes/website.git
    targetRevision: HEAD
    path: content/en/examples/controllers
    directory:
      include: nginx-deployment.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: nginx
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
    - CreateNamespace=true