helmDefaults:
  wait: true
  waitForJobs: true
  createNamespace: true

repositories:
- name: prometheus-community 
  url: https://prometheus-community.github.io/helm-charts

releases:
- name: kube-prometheus-stack 
  namespace: prometheus
  chart: prometheus-community/kube-prometheus-stack
  version: "75.7.0"
  values:
  - alertmanager:
      ingress:
        enabled: true
        ingressClassName: nginx
        hosts:
        - 192.168.1.15.nip.io
        paths:
        - /alertmanager
      alertmanagerSpec:
        routePrefix: /alertmanager
    grafana:
      ingress:
        enabled: true
        ingressClassName: nginx
        hosts:
        - 192.168.1.15.nip.io
        path: /grafana
      grafana.ini:
        server:
          domain: 192.168.1.15.nip.io
          root_url: "%(protocol)s://%(domain)s/grafana"
          serve_from_sub_path: true
    prometheus:
      ingress:
        enabled: true
        ingressClassName: nginx
        hosts:
        - 192.168.1.15.nip.io
        paths:
        - /prometheus
      prometheusSpec:
        routePrefix: /prometheus
